@charset "utf-8";
.estilomenu {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	font-style: normal;
	color: #DADADA;
	text-decoration: none;
	text-align: center;
	white-space: normal;
}
.estiloencabezado {
	font-family: "Courier New", Courier, monospace;
	font-size: 90px;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	line-height: normal;
	font-weight: normal;
	letter-spacing: 0em;
	vertical-align: 0%;
	word-spacing: 0em;
	white-space: 0;
	display: none;
}
.estilocontenido {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	white-space: 0;
	letter-spacing: 0em;
	word-spacing: 0em;
	text-indent: 0;
	vertical-align: 0%;
}
.estilopiedepagina {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	text-align: center;
}
.estilovinculo {
}
.vinculos {
}
.estilosasijuanma {
	font-family: "Courier New", Courier, monospace;
	font-size: 80px;
	font-style: normal;
	color: #DADADA;
	text-decoration: none;
}
