.estilo_body {
	background-color: #FFFFFF;
	margin-top: 20px;
}

.estilo_body_2 {
	background-color: #FFFFFF;
	margin-top: 20px;
}

.etiquetas_encabezado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.datos_encabezado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
}

.etiquetas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
}

.informacion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #333333;
}

.titulos_pantalla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	background-color: #A8B6C6;
	text-align: center;
	vertical-align: middle;
}

.titulo_seccion {
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	text-align: left;
	vertical-align: bottom;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #00CC00;
}

.titulos_pantalla_index {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}
A.menu_principal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
A.menu_principal:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}

A.enlace_opcion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
A.enlace_opcion:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666666;
	text-decoration: none;
}

.datos{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	font-weight: normal;
}

.datos_verde{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #009900;
	font-weight: normal;
}

.datos_rojo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FF0000;
	font-weight: normal;
}

.datos_resaltado{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #D90000;
	font-weight: normal;
}

.contnido_index{
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	font-weight: normal;
	text-align: justify;
}

.datos_formulario{
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	font-weight: normal;
}


.noticia {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}

A.menu_sup {
	font-family: Arial;
	font-size: 15px;
	color: #990000;
	text-decoration: none;
	font-weight: bold;
}

A.menu_sup:hover {
	font-family: Arial;
	font-size: 15px;
	color: #4F0000;
	text-decoration: none;
	font-weight: bold;
}

.encabezado {
	color: #000000;
	font-weight: normal;
	font-size: 50px;
	font-family: Arial;
}